<div class="categories_main">
  <div class="cotainer-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="categories_menus">
          <ul>
            <!-- <li (click)="onSelct(categiriMenu)" [class.selected]="isSelected(categiriMenu)" *ngFor="let categiriMenu of categoriesMenus">
              <img [src]="categiriMenu.cImgs"/><br/>
              <span>{{categiriMenu.cName}}</span>
            </li> -->


            <li routerLink="topOffers">
              <img src="assets/uploads/categories/9.webp" alt=""> <br/>
              <span>Top Offers</span>
            </li>
            <li routerLink="grocery">
              <img src="assets/uploads/categories/5.webp" alt=""> <br/>
              <span>Grocery</span>
            </li>
            <li routerLink="mobiles">
              <img src="assets/uploads/categories/2.webp" alt=""> <br/>
              <span>Mobiles</span>
            </li>
            <li routerLink="fashion">
              <img src="assets/uploads/categories/4.webp" alt=""> <br/>
              <span>Fashion</span>
            </li>
            <li routerLink="electronics">
              <img src="assets/uploads/categories/3.webp" alt=""> <br/>
              <span>Electronics</span>
            </li>
            <li routerLink="homeItems">
              <img src="assets/uploads/categories/7.webp" alt=""> <br/>
              <span>Home</span>
            </li>
            <li routerLink="appliances">
              <img src="assets/uploads/categories/1.webp" alt=""> <br/>
              <span>Appliances</span>
            </li>
            <li routerLink="travel">
              <img src="assets/uploads/categories/6.webp" alt=""> <br/>
              <span>Travel</span>
            </li>
            <li>
              <img src="assets/uploads/categories/8.webp" alt=""> <br/>
              <span>Beaty, Toys & more</span>
            </li>



          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
