



.item_product {
    text-align: center;
    padding: 20px;
    margin: 40px;
}

.item_product p {
    font-size: 16px;
    font-weight: 600;
    text-align: left;

}
.item_product .btn-primary {
    width: 100%;
}
.item_product img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.item_product img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
